header{
    background: #2c3e50;
    color: #fff;
}
.main{
    background: #eaffd0;
    padding: 30% 0% 0% 0%;
}/*
.container{
    padding: 0% 20% 0% 10%;
}*/
.color1 {
    background: #34495e;
    color: #fff;
}
aside{
    background: url("https://lh3.googleusercontent.com/HTX4QtnaIl6JT4jn6gb9MLCvU3fGkpYeyqqfKH_eRfZkO3gEr1EpxEnvjraT4nGWHW4=s180");
    background: cover;
    color:fff;
}
footer{
    background: #34495e;
    color: #f07474;
    text-align:center;
}
