h1{
  font-family: 'Miltonian', cursive;
}
body {
  background-image: url("https://st3.depositphotos.com/1752173/18660/v/1600/depositphotos_186609570-stock-illustration-floral-pattern-vector-seamless-background.jpg");
  background-color: rgb(151, 151, 160);
  background-blend-mode: screen;
  text-align:center;
  background-attachment: fixed;
}
footer {
    background: #f38181;
    text-align:center;
}
textarea {
  background-color: white;
}
label{
  color: black
}
#desplazamiento {
  text-align:center;
  width: 10%;
  }
#desplazamiento {
  border-style: groove;
  border-width: thin;
  border-color: f38181;
}
