/*se utiliza otro css para colocar algunos estilos propios que no estan en el bootstrap*/

h1 { 
    color:#f38181;
    background-color: #eaffd0;
    text-align:center;
    font-size:60px;
    font-style: italic;
    font-family: 'Asul', sans-serif;
    font-family: 'Mystery Quest', cursive;
    margin-block-start: 0%;
    padding: 5% 5% 0% 0%;
}
h2 { 
  color:#f38181;
  background-color: ;
  text-align:center;
  font-size:20px 0 0 0;
  font-style: italic;
  padding: 0% 5% 0% 0%;
}
  resetear{
    padding: 0% 0% 40% 0%;
  }